@import "../../styles/variables.scss";

.products__container {
  animation: fadeIn 0.4s;
  h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 2rem;

    @include sm {
      font-weight: 500;
      font-size: 32px;
    }
  }

  .product__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 4rem 1.55rem;

    animation: bottomToTop 0.5s;
  }
}
