@import "../../../styles/variables.scss";

.productpage__container {
  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeIn 0.7s;

  max-width: 70rem;
  max-height: 30rem;
  margin: 7rem auto;

  /* background-color: green; */

  .image__container {
    margin: 10px 50px;
    min-width: 30rem;
    text-align: center;
    @include lg {
      min-width: 20rem;
    }
    @include md {
      min-width: 14rem;
    }
    @include sm {
      margin: 0 0;
    }

    img {
      max-width: 30rem;
      border-radius: 10px;
      object-fit: cover;

      @include lg {
        max-width: 20rem;
      }
      @include md {
        max-width: 14rem;
      }
      @include sm {
        max-width: 10rem;
      }
    }
  }

  .product__info {
    margin-left: 3rem;
    margin-right: 1rem;

    animation: rightToLeft 0.4s;

    @include lg {
      margin-left: 1rem;
    }

    @include md {
      margin-left: 0;
    }

    h1 {
      margin: 1rem 0;

      @include md {
        font-size: 30px;
        margin: 0.5rem 0;
      }
    }

    h2 {
      @include sm {
        font-size: 20px;
      }
    }

    p {
      @include md {
        font-size: 12px;
      }
    }

    .input__container {
      display: flex;

      .input__label {
        margin: 1.2rem 1rem;

        label {
          margin-right: 0.3rem;
        }
      }

      button {
        outline: 0;
        border: 0;
        background: none;
        border: 2px solid #d9d9d9;
        padding: 8px 0px;
        margin-top: 0.5rem;
        color: #515151;
        text-transform: uppercase;
        width: 115px;
        font-family: inherit;
        margin-right: 5px;
        transition: all 0.3s ease;
        font-weight: 700;
        border-radius: 5px;

        &:hover {
          border: 2px solid #aedaa6;
          color: #aedaa6;
          cursor: pointer;
        }
      }
    }
  }
}
